@import '../assets/scss/helper/_variables';

.hero{
    background-color:$blue;
    padding-bottom:1.9rem;
    padding-top:3rem;
}

:host /deep/ intro{
    max-width:411px;
    display:block;
    font-size:1.25rem;
    color:white;
    padding-bottom: 2.5rem;
    padding-top:3.125rem;
    line-height:1.5;

    >*:first-child{
        margin-top:0;
    }
    >*:last-child{
        margin-bottom:0;
    }
}